{{!-- <div class="form-control">
</div>
<button type="submit" class="btn">Join Now</button> --}}

<div id="wrapper">
    <div class="main-content">

        <div class="header-chat">
            <h2 class="loginHere">Choose Your Chat Room Here</h2>
        </div><br>
        <form>
            <div class="l-part">
                <div name="room" id="room">
                    <input type="submit" value="A.B.J.Family" class="btn btn-success" {{action this.roomSelect "A.B.J.Family"}}><br><br>
                    <input type="submit" value="Chemistry Lab Discussion" class="btn btn-success" {{action this.roomSelect "Chemistry Lab Discussion"}}><br><br>
                    <input type="submit" value="Vetti Gang" class="btn btn-success" {{action this.roomSelect "Vetti Gang"}}><br><br>
                    <input type="submit" value="KPY fans" class="btn btn-success" {{action this.roomSelect "KPY fans"}}><br><br>
                    <input type="submit" value="Movie King" class="btn btn-success" {{action this.roomSelect "Movie King"}}><br><br>
                    <input type="submit" value="Friends Forever" class="btn btn-success" {{action this.roomSelect "Friends Forever"}}><br><br>
                </div>
            </div>
        </form>
    </div>
</div>